<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Angular JS Forms</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            margin: 14px;

        }

        /* text hggh recolor */
        h1, p, a {
            color: #4DC9C9 !important;
        }

        /* button recolor */
        .nav-pills > li.active > a, .btn-primary {
            background-color: #6C6C6C !important;
            border-color: #6C6C6C !important;
            border-radius: 25px;
        }
    </style>
</head>

<body>
    <div class="container" ng-app="tabApp">
        <div class="row" ng-controller="TabController">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-class="{ active: isSet(1) }">
                        <a href ng-click="setTab(1)">Home</a>
                    </li>
                    <li ng-class="{ active: isSet(2) }">
                        <a href ng-click="setTab(2)">Profile</a>
                    </li>
                    <li ng-class="{ active: isSet(3) }">
                        <a href ng-click="setTab(3)">Messages</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="jumbotron">
                    <div ng-show="isSet(1)">
                        <h1>Home page</h1>
                        <p>Welcome to the website!</p>
                        <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
                    </div>
                    <div ng-show="isSet(2)">
                        <h1>Profile page</h1>
                        <p>Profile information</p>
                    </div>
                    <div ng-show="isSet(3)">
                        <h1>Messages</h1>
                        <p> Some messages </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <script>
        angular.module('tabApp', [])
.controller('TabController', ['$scope', function ($scope) {
    $scope.tab = 1;

    $scope.setTab = function (newTab) {
        $scope.tab = newTab;
    };

    $scope.isSet = function (tabNum) {
        return $scope.tab === tabNum;
    };
}]);


    </script>

</body>
</html>